header{
    font-family: Segoe UI Semibold;
    text-align: center;
    background-color: whitesmoke;

}
.i{
    color: black;
    align-items: center;
}
*{
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
}

div{
    background-color: rgba(0, 0, 0, 0);
}

nav{
    background-color: black;
    text-align: center;
}