header{
    font-family: Segoe UI Semibold;
    text-align: center;
    background-color: whitesmoke;
}

html, body{
    margin: 0;
    min-height: 100%;
}

*{
    background-color: ghostwhite;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: ARIAL,sans-serif;
    background-color: #f5f5f7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;

}

div{
    background-color: rgba(0, 0, 0, 0);
}

nav{
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav.logo{
    color: white;
    font-size: 25px;
}

nav.a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover{
    color: #aaa;
}

h1{
    padding-top: 15px; ;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

main{
    flex: 1;
}
footer{
    background-color: black;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 14Px;
}

footer a{
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}
footer a:hover{
    text-decoration: underline;
}
